body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20vh 20vw;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    background-color: black;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;

}

a{
    text-decoration: none;
    color: white

}

h1, p, .img-container{
    display: block;
    opacity: 0;
    left: -10rem;
    position: relative;

}

.img-container{
    max-width: 30vw;
}

#profile{
    border-radius: 10%;
    width: 100%;


}

.img-fluid {
  max-width: 100%;
  height: auto;
}


#section1{
    background: rgb(171,220,255);
    background: linear-gradient(45deg, rgba(171,220,255,1) 0%, rgba(3,150,255,1) 100%);
}

#section2{
    background: rgb(255,246,183);
background: linear-gradient(45deg, rgba(255,246,183,1) 0%, rgba(246,65,108,1) 100%);

}

#section3{
    background: rgb(206,159,252);
    background: linear-gradient(45deg, rgba(206,159,252,1) 0%, rgba(115,103,240,1) 100%);
}

#section4{
    background: rgb(129,251,184);
    background: linear-gradient(45deg, rgba(129,251,184,1) 0%, rgba(40,199,111,1) 100%);
}

.scroller{
    width: 2rem;
    height: 2rem;
    position:fixed;
    right: 1rem;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.scroller-up{
    top: 47vh;
}

.scroller-down{
    top: 53vh;
}

.entering {
    animation: entering 2s forwards;
  }
  
  @keyframes entering {
    0% {
      opacity: 0;
      left: -10rem;
    }
    100% {
      opacity: 1;
      left: 0rem;
    }
  }



  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 900,
    'GRAD' 0,
    'opsz' 48
  }